@import "base";
@import "base-color";

body {
    a {
        cursor: pointer;
    }
    .table * {
        text-align: left;
    }
    .container {
        .pagination li {
            -webkit-user-select: none;
            -moz-user-select: none;
            -khtml-user-select: none;
            -ms-user-select: none;

            /* 以下两个属性目前并未支持，写在这里为了减少风险 */
            -o-user-select: none;
            user-select: none;
            cursor: pointer;
            a.active {
                background-color: #337ab7;
                color:$white;
            }

            a.disable {
                cursor: default;
            }
        }
    }
}
