@import "base";
@import "base-color";
.red {
    color:$red-500;
}
.blue {
    color:$blue-500;
}
.green {
    color:$green-500;
}
body {
    a {
        cursor: pointer;
    }
    .table * {
        text-align: left;
    }
    .container {
        .pagination li {
            -webkit-user-select: none;
            -moz-user-select: none;
            -khtml-user-select: none;
            -ms-user-select: none;

            /* 以下两个属性目前并未支持，写在这里为了减少风险 */
            -o-user-select: none;
            user-select: none;
            cursor: pointer;
            a.active {
                background-color: #337ab7;
                color:$white;
            }

            a.disable {
                cursor: default;
            }
        }
    }
    .no-display {
        display:none;
    }

    nav.navbar {
    }
    div.body {
        margin-top: 70px;
        margin-bottom: 50px;
        min-height: 600px;
        .search-bar {
            margin: 20px 0;
        }
    }
    footer.footer {
        position: relative;
        overflow: hidden;
        bottom: 0;
        height: 60px;
        padding: 20px 0;
        background-color: $grey-800;
        color:$theme-font-color;

        span {
            margin-right: 30px;
        }
    }

}
