@import "base";
@import "base-color";
.red {
    color:$red-500;
}
.blue {
    color:$blue-500;
}
.green {
    color:$green-500;
}
body {
    a {
        cursor: pointer;
    }
    .table * {
        text-align: left;
    }
    .container {
        .pagination li {
            -webkit-user-select: none;
            -moz-user-select: none;
            -khtml-user-select: none;
            -ms-user-select: none;

            /* 以下两个属性目前并未支持，写在这里为了减少风险 */
            -o-user-select: none;
            user-select: none;
            cursor: pointer;
            a.active {
                background-color: #337ab7;
                color:$white;
            }

            a.disable {
                cursor: default;
            }
        }
    }
    .no-display {
        display:none;
    }

    nav.navbar {
    }
    div.body {
        margin-top: 70px;
        margin-bottom: 50px;
        min-height: 600px;
        .search-bar {
            margin: 20px 0;
        }
    }
    footer.footer {
        padding: 0;
        hr {
            position: absolute;
            top:0;
            margin:0 0 20px 0;
            width: 100%;
            height: 4px;
            border-top: 0;
            background-image: linear-gradient(to right,#c4e17f,#c4e17f 12.5%,#f7fdca 12.5%,#f7fdca 25%,#fecf71 25%,#fecf71 37.5%,#f0776c 37.5%,#f0776c 50%,#db9dbe 50%,#db9dbe 62.5%,#c49cde 62.5%,#c49cde 75%,#669ae1 75%,#669ae1 87.5%,#62c2e4 87.5%,#62c2e4);
        }
        .container {
            margin-top: 20px;
            position: relative;
            overflow: hidden;
            bottom: 0;
            height: 40px;
            padding: 0;
            background-color: $white;
            color:$theme-font-color;

            span {
                margin-right: 30px;
            }
        }
    }

}
