@import "base";
@import "base-color";

body {
    background-color: $white;

    .search-bar {
        margin: 20px 0;
    }
}

.no-display {
    display:none;

}



footer.footer {
    position: fixed;
    overflow: hidden;
    bottom: 0;
    height: 60px;
    padding: 20px 0;
    background-color: $grey-800;
    color:$theme-font-color;

    span {
        margin-right: 30px;
    }
}
