<!DOCTYPE html>
<html lang="cmn-Hans-CN">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
        <title>Teach-Assistance</title>

        <!-- Bootstrap -->
        <link href="/resources/lib/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
        <link href="/resources/css/main.css" rel="stylesheet">
        <link href="/resources/css/status.css" rel="stylesheet">

        <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
        <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
        <!--[if lt IE 9]>
          <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
          <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
        <![endif]-->
    </head>
    <body id="app">
        <nav class="navbar navbar-inverse navbar-fixed-top elevation-4">
            <div class="container">
                <!-- Brand and toggle get grouped for better mobile display -->
                <div class="navbar-header ">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="#">Teach-Assistance</a>
                </div>

                <!-- Collect the nav links, forms, and other content for toggling -->
                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                    <ul class="nav navbar-nav">
                        <li><a href="/index/index.html"><span class="glyphicon glyphicon-home"></span>首页 <span class="sr-only">(current)</span></a></li>
                        <li><a href="/problem/index.html"><span class="glyphicon glyphicon-edit"></span>考前练习</a></li>
                        <li><a href="/contest/index.html"><span class="glyphicon glyphicon-fire"></span>编程比赛</a></li>
                        <li class="active"><a href="/status/index.html"><span class="glyphicon glyphicon-th-list"></span>status</a></li>
                    </ul>
                    <ul class="nav navbar-nav navbar-right">
                        <li><a href="/logout"><span class="glyphicon glyphicon-log-out"></span>退出</a></li>
                    </ul>
                </div><!-- /.navbar-collapse -->
            </div><!-- /.container-fluid -->
        </nav>
        <!-- nav bar end -->

        <!-- body container start -->
        <div class="container body">
            <!-- 分页工具 start-->
            <div class="row">
                <nav class="col-md-12">
                    <ul class="pagination elevation-1">
                        <li v-on:click="setPage(page.minPage)">
                            <a href="#" aria-label="Previous">
                                <span aria-hidden="true">&laquo;</span>
                            </a>
                        </li>
                        <li v-for="n in 10" v-if="page.minPage + n > 0 && page.minPage + n <= page.totalPage" v-on:click="setPage(page.minPage + n)">
                            <a v-if="page.minPage + n == page.currentPage" class="active disable">{{ page.minPage + n }}</a>
                            <a v-else>{{ page.minPage + n }}</a>
                        </li>
                        <li v-on:click="setPage(page.maxPage)">
                            <a href="#" aria-label="Next">
                                <span aria-hidden="true">&raquo;</span>
                            </a>
                        </li>
                    </ul>
                </nav>
            </div>
            <!-- 分页工具 end-->

            <!-- 查询框 start -->
            <div class="row">
                <div class="col-md-12 search-bar">
                    <form class="form-inline" v-on:submit.prevent="search">
                        <div class="form-group">
                            <label for="user">用户</label>
                            <input v-model="user" type="text" class="form-control" placeholder="User" id="user">
                        </div>
                        <div class="form-group">
                            <label for="prob">题目</label>
                            <input v-model="prob" type="text" class="form-control" placeholder="Prob" id="prob">
                        </div>
                        <div class="form-group">
                            <label for="result">状态</label>
                            <select v-model="result" class="form-control" id="result">
                                <option value="0"  selected="selected">All</option>
                                <option value="1">Accepted</option>
                                <option value="2">Presentation Error</option>
                                <option value="3">Time Limit Exceeded</option>
                                <option value="4">Memory Limit Exceeded</option>
                                <option value="5">Wrong Answer</option>
                                <option value="6">Output Limit Exceeded</option>
                                <option value="7">Compilation Error</option>
                                <option value="8">Runtime Error</option>
                                <option value="9">Restricted Function</option>
                                <option value="10">System Error</option>
                                <option value="11">Judging</option><option value="12">Queuing</option>
                                <option value="13">Not accepted</option>
                            </select>
                        </div>
                        <div class="form-group">
                            <label for="language">语言</label>
                            <select v-model="language" class="form-control" id="language">
                                <option value="" selected="selected">All</option>
                                <option value="0">C</option>
                                <option value="1" >C++</option>
                                <option value="2">Java</option>
                            </select>
                        </div>
                        <button  type="submit" class="btn btn-default"><span class="glyphicon glyphicon-search"></span></button>
                    </form>
                </div>
            </div>
            <!-- 查询框 end -->

            <!-- 题目列表 start -->
            <div class="row">
                <div class="col-md-12">
                    <table class="table table-hover table-bordered elevation-1">
                        <tr>
                            <th class="col-md-1">ID</th>
                            <th class="col-md-2">User</th>
                            <th class="col-md-1">Prob</th>
                            <th class="col-md-2">Result</th>
                            <th class="col-md-2">Memory</th>
                            <th class="col-md-1">Time</th>
                            <th class="col-md-1">Language</th>
                            <th class="col-md-1">Length</th>
                            <th class="col-md-1">Submit Time</th>
                        </tr>

                        <tr v-for="item in problemsList">
                            <td>{{ item.title }}</td>
                            <td><a>{{ item.title }}</a>&nbsp;-&nbsp;{{ item.source }}</td>
                            <td><a>{{ item.solved }}</a></td>
                            <td><a>{{ item.solved }}</a></td>
                            <td><a>{{ item.solved }}</a></td>
                            <td><a>{{ item.solved }}</a></td>
                            <td><a>{{ item.solved }}</a></td>
                            <td><a>{{ item.solved }}</a></td>
                            <td><a>{{ item.solved }}</a></td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
        <!-- body container end -->

        <!-- footer start -->
        <footer class="footer col-md-12">
            <!-- <hr class="colorful"> -->
            <div class="container text-center">
                <span>All Rights Reversed.</span>
                <span>邮箱：<a href="mailto:teach_assistance@163.com">teach_assistance@163.com</a></span>
                <span>联系地址：山西省太原市尖草坪区学院路3号</span>
            </div>
        </footer>
        <!-- footer end -->


        <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
        <script src="/resources/lib/jquery/dist/jquery.min.js"></script>
        <!-- Include all compiled plugins (below), or include individual files as needed -->
        <script src="/resources/lib/bootstrap/dist/js/bootstrap.min.js"></script>
        <script src="/resources/lib/vue/dist/vue.js"></script>
        <script src="/resources/lib/layer/layer.js"></script>
        <script src="/resources/js/main_home.js"></script>
        <script src="/resources/js/status.js"></script>
    </body>
</html>
