<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">

<configuration>

    <settings>
        <!-- 全局映射器启用缓存 -->
        <setting name="cacheEnabled" value="true"/>
        <!-- 查询时，关闭关联对象即时加载以提高性能 -->
        <setting name="lazyLoadingEnabled" value="false"/>
        <setting name="autoMappingBehavior" value="FULL"/>
    </settings>

    <typeAliases>
        <typeAlias type="cn.edu.nuc.acmicpc.model.User" alias="User"/>
        <typeAlias type="cn.edu.nuc.acmicpc.dto.UserDto" alias="UserDto"/>
        <typeAlias type="cn.edu.nuc.acmicpc.dto.TypeAheadUserDto" alias="TypeAheadUserDto"/>
        <typeAlias type="cn.edu.nuc.acmicpc.model.Setting" alias="Setting"/>
        <typeAlias type="cn.edu.nuc.acmicpc.dto.SettingDto" alias="SettingDto"/>
        <typeAlias type="cn.edu.nuc.acmicpc.dto.CodeDto" alias="CodeDto"/>
        <typeAlias type="cn.edu.nuc.acmicpc.dto.LanguageDto" alias="LanguageDto"/>
        <typeAlias type="cn.edu.nuc.acmicpc.model.CompileInfo" alias="CompileInfo"/>
        <typeAlias type="cn.edu.nuc.acmicpc.dto.ContestProblemDto" alias="ContestProblemDto"/>
        <typeAlias type="cn.edu.nuc.acmicpc.dto.contest.ContestProblemDetailDto" alias="ContestProblemDetailDto"/>
        <typeAlias type="cn.edu.nuc.acmicpc.dto.ContestUserDto" alias="ContestUserDto"/>
        <typeAlias type="cn.edu.nuc.acmicpc.dto.DepartmentDto" alias="DepartmentDto"/>
        <typeAlias type="cn.edu.nuc.acmicpc.dto.StatusDto" alias="StatusDto"/>
        <typeAlias type="cn.edu.nuc.acmicpc.dto.ProblemDto" alias="ProblemDto"/>
        <typeAlias type="cn.edu.nuc.acmicpc.dto.ProblemListDto" alias="ProblemListDto"/>
        <typeAlias type="cn.edu.nuc.acmicpc.dto.ContestDto" alias="ContestDto"/>
        <typeAlias type="cn.edu.nuc.acmicpc.model.UserSerialKey" alias="UserSerialKey"/>
        <typeAlias type="cn.edu.nuc.acmicpc.model.Tag" alias="Tag"/>
        <typeAlias type="cn.edu.nuc.acmicpc.model.ProblemTag" alias="ProblemTag"/>
    </typeAliases>
</configuration>

