
<!DOCTYPE html>
<html lang="cmn-Hans-CN">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>Teach-Assistance</title>

    <!-- Bootstrap -->
    <link href="/resources/lib/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
    <!-- <link href="/resources/css/main.css" rel="stylesheet"> -->
    <link href="/resources/css/login.css" rel="stylesheet">
    <link rel="shortcut icon" href="/resources/img/head.ico">

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
<body>
<nav class="navbar navbar-inverse navbar-fixed-top elevation-4">
    <div class="container">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header ">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href=" ">Teach-Assistance</a >
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
                <li class="active"><a href="#">首页 <span class="sr-only">(current)</span></a ></li>
                <li><a href="#">考前练习</a ></li>
                <li><a href="#">编程比赛</a ></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
            </ul>
        </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
</nav>
<!-- nav bar end -->

<!-- body container start -->
<div class="container">
    <div id="login" class="elevation-4" transition="my-transition">
        <div class="btngroup row">
            <div class="col-md-12">
                <button v-on:click="showLoginBar" class="flat-btn btn col-xs-6" v-bind:class="{ 'activebar': disshowregister }">学生登录</button>
                <button v-on:click="showRegisterBar" class="flat-btn btn col-xs-6" v-bind:class="{ 'activebar': disshowlogin }">学生注册</button>
            </div>
        </div>
        <div class="login row" v-bind:class="{ 'no-display': disshowlogin}">
            <form class="col-md-10 col-md-offset-1">
                <div class="form-group">
                    <input v-model="login_email" type="email" class="form-control" id="exampleInputEmail1" placeholder="请输入常用邮箱" minlength="6" maxlength="20" required >
                    <span class="red" for="exampleInputEmail1">{{ errInfoEmail }}</span>
                </div>
                <div class="form-group">
                    <input v-model="login_password" type="password" class="form-control" id="exampleInputPassword1" placeholder="请输入密码" minlength="6" maxlength="12" required >
                    <span class="red" for="exampleInputPassword1">{{ errInfoPwd }}</span>
                </div>
                <div class="form-group text-right">
                    <a class="" href="#">忘记密码?</a >
                </div>
                <button type="button" class="btn btn-primary btn-block" v-on:click="login" >登&nbsp;录</button>
            </form>
        </div>
        <div class="register row" v-bind:class="{ 'no-display': disshowregister}">
            <form class="col-md-10 col-md-offset-1">
                <div class="form-group">
                    <input v-model="register_email" type="email" class="form-control" id="exampleInputEmail2" placeholder="请输入常用邮箱" minlength="6" maxlength="20" required>
                    <span class="red" for="exampleInputEmail2">{{ errInfoRE }}</span>
                </div>
                <!-- <div class="form-group">
                    <input v-model="register_password" type="password" class="form-control" id="exampleInputPassword1" placeholder="请输入密码" minlength="6" maxlength="12" required>
                </div> -->
                <div class="form-group">
                    <input v-model="register_verifycode" type="text" class="form-control" id="exampleInputAmount" placeholder="验证码" maxlength="5" minlength="4">
                    <span class="red" for="exampleInputAmount">{{ errInfoVCode }}</span>
                </div>
                <div class="form-group">
                    <img id="captcha" class="img center-block" onclick="this.src='/captcha?'+Math.random();" src="/captcha?0.3877142474111007" alt="">
                </div>
                <button v-on:click="register" type="button" class="btn btn-primary btn-block">立即注册</button>
            </form>
        </div>
    </div>
</div>
<!-- body container end -->

<!-- footer start -->
<footer class="footer col-md-12">
    <!-- <hr class="colorful"> -->
    <div class="container text-center">
        <span>All Rights Reversed.</span>
        <span>邮箱：<a href="mailto:teach_assistance@163.com">teach_assistance@163.com</a ></span>
        <span>联系地址：山西省太原市尖草坪区学院路3号</span>
    </div>
</footer>
<!-- footer end -->

<script src="/resources/lib/vue/dist/vue.js"></script>
<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script src="/resources/lib/jquery/dist/jquery.min.js"></script>
<!-- Include all compiled plugins (below), or include individual files as needed -->
<script src="/resources/lib/bootstrap/dist/js/bootstrap.min.js"></script>
<script src="/resources/lib/layer/layer.js"></script>
<script src="/resources/js/main.js"></script>
<script>
    "use strict"
    Vue.config.debug = true;
    let app = new Vue({
        el: "#login",
        data:{
            disshowlogin: false,       // 显示登录框
            disshowregister: true,     // 显示注册框
            login_email: "",           // 登录邮箱
            login_password: "",        // 登录密码
            register_email: "",        // 注册邮箱
            register_verifycode: "",   // 注册验证码
            errInfoEmail:"",           // 登录错误提示 email
            errInfoPwd:"",             // 登录错误提示 pwd
            errInfoRE:"",              // 注册错误提示 email
            errInfoVCode:"",           // 注册错误提示 verfiyCode
        },
        methods:{
            /**
             * 显示登录框
             */
            showLoginBar: function(){
                this.disshowlogin = false;
                this.disshowregister = true;
                return false;
            },
            /**
             * 显示注册框
             */
            showRegisterBar: function(){
                this.disshowlogin = true;
                this.disshowregister = false;
                return false;
            },
            /**
             * 登录事件
             */
            login: function(){
                let data = {
                    "userName" : this.login_email,
                    "password": this.login_password,
                };
                if( typeof data.userName === "undefined" ||
                        typeof data.password === "undefined" ||
                        data.userName.length <= 0 ||
                        data.password.length <= 0){
                    layer.msg("输入不能为空!");
                    return false;
                }
                $.ajax({
                    method:"post",
                    data:JSON.stringify(data),
                    dataType:"json",
                    contentType:"application/json",
                    url:"/user/login",
                    error: function(msg){
                        layer.msg("请求失败!" + msg.message);
                    },
                }).done(function(msg){
                    if(msg.status === 200){
                        layer.msg("登录成功!")
                        window.location.href = "/home/index.html";
                    }else{
                        switch (msg.status) {
                            case 401:
                                layer.alert("未授权的操作!");
                                break;

                            case 402:
                                layer.msg("登录超时!");
                                window.location = "/"; // 回到首页
                                break;

                            case 403:
                                layer.msg("未登录!");
                                window.location = "/"; // 回到首页
                                break;

                            case 404:
                                layer.msg("页面不存在!");
                                window.location = "/"; // 回到首页
                                break;

                            case 500:
                                app.errInfoEmail = msg.errors.userName;
                                app.errInfoPwd = msg.errors.password;
                                break;

                            default:
                                break;
                        }
                    }
                });
                // console.log("login");

            },
            /**
             * 注册事件
             */
            register: function(){
                let data = {
                    "username" : this.register_email,
                    "validateCode": this.register_verifycode,
                };
                if( typeof data.username === "undefined" ||
                        typeof data.validateCode === "undefined" ||
                        data.username.length <= 0 ||
                        data.validateCode.length <= 0){
                    layer.msg("输入不能为空!");
                    return false;
                }
                $.ajax({
                    method:"post",
                    data:JSON.stringify(data),
                    dataType:"json",
                    url:"/user/register",
                    contentType:"application/json",
                    error: function(msg){
                        layer.msg("请求失败!" + msg.message);
                    },
                }).done(function(msg){
                    if(msg.status === 200){
                        layer.alert("激活邮件已发送,请注意查收!");
                    }else{
                        switch (msg.status) {
                            case 401:
                                layer.alert("未授权的操作!");
                                break;

                            case 402:
                                layer.msg("登录超时!");
                                window.location = "/"; // 回到首页
                                break;

                            case 403:
                                layer.msg("未登录!");
                                window.location = "/"; // 回到首页
                                break;

                            case 404:
                                layer.msg("页面不存在!");
                                window.location = "/"; // 回到首页
                                break;

                            case 500:
                                app.errInfoRE = msg.errors.username;
                                app.errInfoVCode = msg.errors.validateCode;
                                console.log('/captcha?'+Math.random());
                                $("#captcha").attr("src", '/captcha?'+Math.random());
                                break;

                            default:
                                break;
                        }
                    }
                });
                // console.log("login");

            },
        },
    });
</script>
</body>
</html>